/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  /* background: rgb(226, 226, 226); */
  background-image: inherit;
}
nav{
  position: sticky;
  top: 0;
  bottom: 0px;
  height: 100vh;
  left: 0;
  width: 90px;
  /* width: 280px; */
  background: #fff;
  overflow: hidden;
  transition: 1.5s;
}
nav:hover{
  width: 280px;
  transition: 1s;
}
.logo{
  text-align: center;
  display: flex;
  margin: 10px 0 0 10px;
  padding-bottom: 3rem;
}

.logo img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.logo span{
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}
a{
  position: relative;
  width: 280px;
  font-size: 14px;
  color: rgb(85, 83, 83);
  display: table;
  padding: 10px;
}
nav .fa-solid{
  position: relative;
  width: 65px;
  height: 35px;
  top: 12px;
  font-size: 20px;
  text-align: center;
}

.main-top{
  margin-right: -1050px;
  font-size: 15px;
}

.main-top a:hover{
  background: none;
}

.nav-item{
  position: relative;
  top: 10px;
  margin-left: 10px;
}
a:hover{
  background: #eee;
}

.logout{
  position: absolute;
  bottom: 0;
}

.container{
  display: flex;
}


/*Shipment List section  */
table{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 15px;
  min-width: 100%;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}
table thead tr{
  color: #fff;
  background: #34AF6D;
  text-align: left;
  font-weight: bold;
}
table th,
table td{
  padding: 15px 8px 15px 8px;
}
table tbody tr{
  border-bottom: 1px solid #ddd;
}
table tbody tr:nth-of-type(odd){
  background: #f3f3f3;
}

